@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html, body, #root {
	height: 100%;
}

.overlay {
	position:fixed;
	z-index: 100;
}

.modal {
	max-height: 90vh;
	overflow-y: scroll;
}

mark {
	background-color: #ffdd4b;
}

thead,
thead > *,
th {
	z-index:1 !important;
}