@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 47.4% 11.2%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--card: 0 0% 100%;
		--card-foreground: 222.2 47.4% 11.2%;
		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 100% 50%;
		--destructive-foreground: 210 40% 98%;
		--ring: 215 20.2% 65.1%;
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
		--fc-border-color: lightgray;
		--fc-page-bg-color: none;
	}

	.dark {
		--background: 224 71% 4%;
		--foreground: 213 31% 91%;
		--muted: 223 47% 11%;
		--muted-foreground: 215.4 16.3% 56.9%;
		--accent: 216 34% 17%;
		--accent-foreground: 210 40% 98%;
		--popover: 224 71% 4%;
		--popover-foreground: 215 20.2% 65.1%;
		--border: 216 34% 17%;
		--input: 216 34% 17%;
		--card: 224 71% 4%;
		--card-foreground: 213 31% 91%;
		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 1.2%;
		--secondary: 222.2 47.4% 11.2%;
		--secondary-foreground: 210 40% 98%;
		--destructive: 0 63% 31%;
		--destructive-foreground: 210 40% 98%;
		--ring: 216 34% 17%;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
		--fc-border-color: gray;
	}
}

@layer base {
	:root {
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
	}

	.dark {
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply font-sans antialiased bg-background text-foreground;
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* 
.overlay {
	position: fixed;
	z-index: 100;
}

.modal {
	max-height: 90vh;
	overflow-y: scroll;
}

mark {
	background-color: #ffdd4b;
}

thead,
thead > *,
th {
	z-index: 1 !important;
} */

.sticky {
	position: sticky;
	position: -webkit-sticky;
}

.long-press {
	-webkit-touch-callout: none; /* Safari */
	-webkit-user-select: none; /* Chrome */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

/* Removing borders */

.fc-scrollgrid {
	@apply border-none !important;
}

.fc tbody tr:last-child td:first-child {
	@apply border-l-0 !important;
}

.fc tbody tr:last-child td:last-child {
	@apply border-r-0 border-b-0 !important;
}

.fc-theme-standard th {
	@apply border-r-0 !important;
}

/* Setting header size */

.fc-col-header-cell-cushion {
	@apply flex h-14 items-center;
}

/* Setting left time size */

.fc-timegrid-slot {
	@apply h-6 !important;
}

.fc-timegrid-slot-label-cushion {
	@apply text-xs font-light !important;
}

/* Setting cell colors */

td.fc-daygrid-day.fc-day {
	@apply hover:bg-secondary !important;
}

td.fc-daygrid-day.fc-day.fc-day-today {
	@apply bg-secondary-foreground;
}

.fc-day-today {
	@apply bg-inherit !important;
}

.fc-day-other {
	@apply bg-gray-200 dark:bg-secondary !important;
}


.fc-col-header {
	@apply bg-white !important;
}

.fc-daygrid-day-top {
	@apply flex flex-row h-8 w-full items-center  !important;
}

.fc-daygrid-dot-event {
	@apply hover:bg-blue-50 !important;
}

.fc-daygrid-event-harness {
	@apply pr-2 hover:bg-none hover:scale-[1.02] transition-all hover:cursor-pointer  !important;
}

.fc-timegrid-event-harness {
	@apply hover:bg-none hover:cursor-pointer !important;
}

.fc-event-main {
	@apply flex w-full h-full !important;
}

.fc-event {
	@apply flex border-none min-w-full !important;
}

.fc-daygrid-event {
	@apply mx-1 !important;
}

.fc-timegrid-event {
	@apply px-1 !important;
}
